<!-- <!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Welcome</title>
  <link href="https://fonts.googleapis.com/css?family=Poppins:500,900" rel="stylesheet">
</head>
<body>

  <p style="font-family: 'Poppins'; font-size: 14px;">Congratulations <%= @user.first_name %>,
    <br><br> You have improved your lateness greatness by one level.
    <br>Level <%= @user.level %>
    <br><br> Sincerely,
    <br> The Excuse Engineers
  </p>
  <span style="font-family: 'Poppins'; font-weight: 900; color: #575757; ">THE</span>
  <span style="font-family: 'Poppins'; font-weight: 900; color: #FFBA34; font-size: 22px;">EXCUSE</span>
  <span style="font-family: 'Poppins'; font-weight: 900; color: #575757; font-size: 22px;">ENGINE</span>

</body>
</html> -->
