<body style="background-image: url('<%= asset_url 'bgnodog.png' %>'); background-position: bottom; background-size: cover; width: 100vw; height: 100vh;">
  <%= render 'form', reported_excuse: @reported_excuse %>
</body>
