// Import your layouts CSS files here.
// Examples:
// @import "dashboard";
// @import "profile";
// @import "map";
// @import "pagepiling";


html, body {
    overflow:hidden;
    margin:0;
    padding:0;

    /*Avoid flicker on slides transitions for mobile phones #336 */
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

body {

  h1 {
    color: $yellow;
    font-weight: 900;
  }
  h2, h3, h5, h6 {
    font-weight: 900;
    color: $gray;

    text-transform: uppercase;
  }

  h5 {
    text-transform: uppercase;
    font-weight: 500;
    font-size: 36px;
    color: $gray;
  }

  p {
    font-weight: 500;
    color: $gray;
  }
  a {
    font-weight: 500;
    color: $gray;
    text-decoration: none;
  }
  a :hover {
    color: black;
    text-decoration: none;
  }
  h4, h5, h6 {
    text-transform: uppercase;
    color: $gray;
  }

  i {
    font-size: 64px;
    color: $gray;
  }

  li {
    color: $gray;
  }
  ul {
    list-style: none;

  }

}

#loader {
  z-index: 200;
}

.hidden {
  display: none !important;
}

.hidden2{ animation: css 0s 3s forwards !important; }

@keyframes css  { to { visibility: hidden; } }
