// Import your layouts CSS files here.
// Examples:
// @import "dashboard";
// @import "profile";
// @import "map";

body {

  h1 {
    color: $yellow;
    font-weight: 900;
  }
  h2, h3, h5, h6 {
    font-weight: 900;
    color: $gray;
  }

  h4 {
    font-weight: 900;
    color: $gray;
  }

  h5 {

  }

  p {
    font-weight: 500;
    color: $gray;
  }
  a {
    font-weight: 500;
    color: $gray;
    text-decoration: none;
  }
  a :hover {
    font-weight: 500;
    color: $light-gray;
    text-decoration: none;
  }
  h4, h5, h6 {
    text-transform: uppercase;
  }

}
