
<div class="container btns-parent-center">
  <div>
    <%= link_to "location based excuse", new_location_excuse_path, class: "btn btn-wide"%>
    <%= link_to "give me something creative", new_creative_excuse_path, class: "btn btn-wide mt-3" %>
  </div>
</div>

