


  <div class="d-flex justify-content-center align-items-center" style="height: calc(100vh - 70px); width: 100%;">
    <div>
      <%= link_to "location based excuse", new_location_excuse_path, class: "btn btn-primary", style: "width: 100%" %>
      <%= link_to "give me something creative", new_location_excuse_path, class: "btn btn-success", style: "width: 100%" %>
    </div>
  </div>
