<div class="btn-group">
  <div>
      <%= link_to "location based excuse", new_location_excuse_path, class: "btn btn-intro"%>
      <%= link_to "give me something creative", new_location_excuse_path, class: "btn btn-intro" %>
  </div>
</div>
