<div class="container btn-center">
  <%= link_to "location based excuse", new_location_excuse_path, class: "btn btn-intro"%>
  <%= link_to "give me something creative", new_creative_excuse_path, class: "btn btn-intro mt-3" %>
</div>
