<div class="parent-center">
    <%= image_tag "logo.png", alt: "EE logo", class: "logo" %>
  <div class="title">
    <h3>THE</h3>
    <h1>EXCUSE</h1>
    <h3 class="mb-5">ENGINE</h3>
  </div>
  <div class="excuse-button">
    <%= link_to "FIND AN EXCUSE", new_location_excuse_path, class: "btn"%>
  </div>
  <p>Or...</p>
  <p><%= link_to "Find a creative excuse", creative_excuse_path(@creative_excuse)%></p>

</div>
