<body style="background-image: url('<%= asset_url 'redbg.png' %>'); background-position: bottom; background-size: cover; width: 100vw; height: 100vh;">
  <div class="parent-center" style="justify-content: center">
    <h2 class="mb-5">NO MORE EXCUSES</h2>
    <div class="excuse-button mt-5">
      <%= link_to "FIND A CREATIVE EXCUSE", creative_excuse_path(@creative_excuse), class: "btn mb-5"%>
    </div>
  </div>
</body>
