<div class="container parent-center">
  <div class="width-100">
    <%= simple_form_for @location_excuse do |f| %>
      <%= f.input :start_point %>
      <%= f.input :end_point %>
      <%= f.button :submit, class: "btn btn-wide" %>
    <% end %>
  </div>
</div>
