.btn {
  color: white;
  padding: 10px 15px;
  border-radius: 4px;
  font-weight: 500;
  font-size: 21px;
  text-align: center;
  background: $yellow;
  transition: background 0.3s ease;
  &.btn-wide {
    width: 100%;
  }
  &.btn-link {
    background: none;
    color: #6AD58B;
  }
}
.btn:hover {
  opacity: 1;
  background: $darkyellow;
  text-decoration: none;
  color: white;
}

#clickme {
  margin-top: 10px;
  display: none;
}

.mt {
  margin-top: 10px;
  cursor: pointer;
}

