.parent-center {
  height: calc(100vh - 140px);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.details-page {
  display: flex;
  flex-direction: column;
  padding: 16px auto;
}

.parent-center2 {
  height: calc(100vh - 100px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.width-100 {
  width: 100%;
}

.width-80 {
  width: 80%;
  align: center;
}

.width-90 {
  width: 90%;
  justify-text: justify;
}

.header {
  h1 {
    font-size: 60px;
    line-height: 21px;
  }
  h3 {
    font-size: 40px;
  }
  h4 {
    line-height: 36px;
    font-weight: 900;
    color: $gray;
  }
}

.bold {
  color: $yellow;
}

.light {
  font-weight: lighter;
}

.link {
  font-weight: 500;
  color: $gray;
  text-decoration: none;
}

.link:hover {
  font-weight: 500;
  color: black !important;
  text-decoration: none;
}

.mt-100 {
  margin-top: 100px;
}

.mt-10 {
  margin-top: -100px;

}

.mt-50 {
  margin-top: -50px;
}

.mb-100 {
  margin-bottom: 100px;
}

.big {
  font-size: 24px;
}

.excuses {
  font-family: 'poppins';
  font-weight: 500;
  font-size: 36px;
  color: $yellow;
  text-align: center;
  margin-top: 25vh;
}
