.navbar-lewagon {
  justify-content: space-between;
  z-index: 100;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar-toggler {
  border: none;
  // z-index: 100;
}

.map-div {
  flex-grow: 1;
  text-align: right;

}

.nav-link {
  font-size: 16px;
  i {
    font-size: 20px;
  }
}
