<body style="background-image: url('<%= asset_url 'bgnodog.png' %>'); background-position: bottom; background-size: cover; width: 100vw; height: 100vh;">
  <%= render 'form', creative_excuse: @creative_excuse %>
</body>


