<h1>Show, creative excuses</h1>
<%= @random_array.count %>
<%= @creative_excuse.excuse.title %>

<div style="background-image: url(<%= @creative_excuse.excuse.photo %>); background-position: center; height:300px; width: 400px"></div>

<%= link_to "give me something else", creative_excuse_path(@creative_excuse), class: "btn btn-intro mt-3" %>
