<div class="modal fade" id="signupModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="">Sign Up!</h2>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="p-3">

      </div>
      <div class="modal-footer d-flex justify-content-between">
        <span> Already using excuses? <%= link_to "Sign in", new_session_path(resource_name), class: "link-su" %></span>
      </div>
    </div>
  </div>
</div>
